<!DOCTYPE html> 
<!--[if IE 6]>
<html id="ie6">
<![endif]-->
<!--[if IE 7]>
<html id="ie7">
<link href="css/ie.css" rel="stylesheet" type="text/css">
<![endif]-->
<!--[if IE 8]>
<html id="ie7">
<link href="css/ie.css" rel="stylesheet" type="text/css">
<![endif]-->
<!--[if !(IE 6) | !(IE 7) | !(IE 8)  ]><!-->
<html>
<!--<![endif]-->
<head>
    <meta charset="UTF-8">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
    <title>SCHWEETZ || SOFTWARE SOLUTIONS</title>
    <meta name="description" content="Get the best of software applications.">
    <meta name="author" content="SCHWEETZ">
    <link href="../static/images/favicon.ico" rel="shortcut icon">
    <script>
        document.write('<link href="css/bootstrap.min.css" rel="stylesheet" type="text/css">');

    </script>
    <link href="../static/css/bootstrap.min.css" media="all" rel="stylesheet" type="text/css">

    <link rel="stylesheet" type="text/css" href="../static/css/app.css" />
    <link rel="stylesheet" type="text/css" href="../static/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="../static/css/responsive.css" />
     

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <script src="../static/js/jquery.js"></script>

    <script type="text/javascript" src="/static/js/bootstrap.min.js"></script>
    <!--[if lt IE 9]>
        <script src="js/html5shiv.js"></script>
    <![endif]-->
    <script src="../static/js/jquery.lazyloadxt.js"></script>
</head>
<body>


    <section id="divi-hero" class="gallery-hero">
        <div class="logo">
            <a id="logo" href=""><img src="../static/images/logo.png" alt="Dot com team"></a>

        </div>
        <div class="blckline"><marquee> SCHWEETZ is undergoing some developments. Please bear with us for a jiffy :) </marquee></div>

        <header class="header" id="header">
            <div class="stickup">
                <div class="topnav">
                    <div class="col-sm-5 " id="">

                        <ul>
                            <a class="main-menu-a " href="#demo"><li><span>A</span>BOUT US</li></a>
                            <a class="main-menu-a" href="en/service.html"><li><span>S</span>ERVICES</li></a>


                        </ul>


                    </div>


                    <div class="col-sm-2">
                        <div class="logo-header">
                            <br /><br /><br /><br />
                            <a href="schweetz.tech"><img src="static/images/beta-logo.PNG" class="logo-size" alt="Dot Com logo"> </a>
                        </div>
                    </div>
                    <div class="col-sm-5">
                        <ul>
                            <a class="main-menu-a" href=""><li><span>P</span>RODUCTS</li></a>
                            <li class="order-page-non-active">
                                <a href="#" class="main-menu-a order-page-non-active"><span>L</span>ANGUE<img data-src="static/images/arrow-closed.png" class="arrow-down" alt=""></a>
                                <a href="javascript:void(0);" class="icon" onclick="menuBar()">
                                    <i class="fa fa-bars"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

             

        </header>

        <div class="column-7">
            <h1 class="top-text"> GET READY</h1>
            <h2 class="top_list"> cut costs by automating routine tasks <br />improve the efficiency of staff <br /><strong>monitor</strong>   business' health <br /> <a href="contact">and more...</a> </h2>
        </div>
    </section>
    <section id="con">
        <div class="row-container">
            <div class="row">
                <div class="column-container">
                    <div class="column centered">
                        <h2 class="headline-2"><strong>Computerized Simulation</strong></h2>
                        <h2 id="demo">
                        </h2>
                        <p>

                            <blockquote><i class="fa fa-quote-left"></i>  There Is No Reason And No Way That A Human Mind Can Keep Up With An Artificial Intelligence Machine By 2035 <i class="fa fa-quote-right"></i></blockquote>
                        <p class="lead">
                            Schweetz is a computer software company that  focuses on rendering quality computer services (precisely software related issues) to serve the interest of the entire globe
                            Schweetz sees no barrier in realizing software solutions to problems faced by organizations or individuals
                        </p>
                    </div>

                </div>

                <div class="sizes">
                    <div class="flip-3d ">
                        <b>EFFICIENCY</b>
                        <figure>
                            <img src="static/images/robot.jpg" alt="">
                            <figcaption>&nbsp;&nbsp;&nbsp;PERFORMANCE&#10004; </figcaption>
                        </figure>
                    </div>
                    <div class="flip-3d">
                        <b>INTEGRITY </b>
                        <figure>
                            <img src="static/images/secure.jpg" alt="">
                            <figcaption>SECURED&#10004;</figcaption>
                        </figure>
                    </div>
                    <div class="flip-3d">
                        <b>MODULAR</b>
                        <figure>
                            <img src="static/images/maintain.jpg" alt="">
                            <figcaption>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;MAINTAINABILITY&#10004;</figcaption>
                        </figure>
                    </div>
                </div>


            </div>
        </div>
    </section>

    <section id="chat">
        <div class=" new_back_support">
            <div class="contact centered ">
                <img data-src="/static/images/map.JPG" alt="">
                <h1>LOCATION</h1>
                <h2>Messasi-Nyom</h2>
            </div>
        </div>
        <div class="new_back">
            <p></p>
        </div>
    </section>
    <section>
        <div class="industies">


            <div class="slideshow-container">

                <div class="mySlides">
                    <h1 class="author"> Transportation</h1>
                    <p>Transportation/travel is an industry that will never cease to evolve with tech innovation. From increased artificial intelligence for self driving cars, to enhanced software systems on planes to make them safer, the transportation industry has a great need for tech workers</p>

                </div>

                <div class="mySlides">
                    <h1 class="author">Education</h1>
                    <p>With committed people focused on fixing the educational system through new surges of products, including education technology, we’re seeing a growing need for tech workers in this space</p>

                </div>

                <div class="mySlides">
                    <h1 class="author">Healthcare</h1>
                    <p>As new <a target="_blank" href="https://medicalfuturist.com/ten-ways-technology-changing-healthcare/">research is conducted</a> and new cures are found, technology is at the helm of medical advancements</p>

                </div>


                <div class="mySlides">
                    <h1 class="author">Retail</h1>
                    <p>As more brands move away from brick and mortar shops, we’re seeing a rise in e-commerce. And for the shops that still remain, more interactive digital experiences await for loyal customers. </p>

                </div>

                <div class="mySlides">
                    <h1 class="author">Retail</h1>
                    <p>As more brands move away from brick and mortar shops, we’re seeing a rise in e-commerce. And for the shops that still remain, more interactive digital experiences await for loyal customers. </p>

                </div>

                <div class="mySlides">
                    <h1 class="author">Media & Entertainment</h1>
                    <p>There’s a lot more that goes on behind the scenes of your favorite TV show. For media and entertainment, “new trends and technologies drive innovation, disruption, and opportunities for growth,” according to <a target="_blank" href="https://www2.deloitte.com/us/en/pages/technology-media-and-telecommunications/articles/media-and-entertainment-industry-outlook-trends.html">Deloitte’s 2019 industry outlook</a>. With the launch of the 5G network, expect to see disruption in this industry </p>

                </div>



                <a class="prev" onclick="plusSlides(-1)">❮</a>
                <a class="next" onclick="plusSlides(1)">❯</a>

            </div>

            <div class="dot-container">
                <span class="dot" onclick="currentSlide(1)"></span>
                <span class="dot" onclick="currentSlide(2)"></span>
                <span class="dot" onclick="currentSlide(3)"></span>
                <span class="dot" onclick="currentSlide(4)"></span>
                <span class="dot" onclick="currentSlide(5)"></span>
                <span class="dot" onclick="currentSlide(6)"></span>
                <span class="dot" onclick="currentSlide(7)"></span>
            </div>



        </div>

    </section>

    <section id="">

        <div class="popup" id="popShow" onclick="myFunction()">

            <button class="open-button" onclick="openForm()">Chat</button>

            <div class="chat-popup" id="myForm">


                <form class="form-container">
                    <div id="frame">

                        <div class="content">
                            <div class="contact-profile">
                                <img src="https://vignette.wikia.nocookie.net/disney/images/2/25/Profile_-_Vanellope_Von_schweetz.jpeg/revision/latest?cb=20190312023329" alt="" />
                                <p>SCHWEETZ</p>
                            </div>
                            <div class="messages">
                                <ul>
                                    <li class="replies">
                                        <img src="https://vignette.wikia.nocookie.net/disney/images/2/25/Profile_-_Vanellope_Von_schweetz.jpeg/revision/latest?cb=20190312023329" alt="" />
                                        <p>Hello! I am Vanellope. How can I help you?</p>
                                    </li>

                                    <li class="sent">



                                    </li>
                                </ul>
                            </div>
                            <div class="message-input">
                                <div class="wrap">
                                    <div id="userInput">
                                        <input id="textInput" type="text" name="msg" placeholder="Write your message..." />
                                        <i class="fa fa-paperclip attachment" aria-hidden="true"></i>
                                        <button class="submit"><i class="fa fa-paper-plane" aria-hidden="true"></i></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>




                    <input id="val" type="text" />
                    <button type="button" class="btn cancel" onclick="closeForm()">Close</button>
                </form>
            </div>

        </div>

    </section>

    <div class="container">

        <!--First row with column number(4,8)-->
        <div class="row">
            <div class="col-sm-4" style="background-color:#8dc1aa">column1: col-sm-4</div>
            <div class="col-sm-1" style="background-color:#808080">column2: col-sm-8</div>
        </div>
        <!--Second row with column number(6,6)-->
        <div class="row">
            <div class="col-sm-6" style="background-color:#cfa6e2">column3: col-sm-6</div>
            <div class="col-sm-6" style="background-color:#faa76c">column4: col-sm-6</div>
        </div>
        <!--Third row with column number(3,9)-->
        <div class="row">
            <div class="col-sm-3" style="background-color:#c8fcfc">column5: col-sm-3</div>
            <div class="col-sm-9" style="background-color: #79ad96">column6: col-sm-9</div>
        </div>
    </div>

    <!-- Simulate a smartphone / tablet -->
    <div class="topnav" id="myTopnav">
        <a href="#home" class="active">Home</a>
        <a href="#news">News</a>
        <a href="#contact">Contact</a>
        <a href="#about">About</a>
         
    </div>

    <div style="padding-left:16px">
        <h2>Responsive Topnav Example</h2>
        <p>Resize the browser window to see how it works.</p>
    </div>


    <!-- End smartphone / tablet look -->
   
    <script>
        function menuBar() {
            var x = document.getElementById("myTopnav");
            if (x.className === "topnav") {
                x.className += " responsive";
            } else {
                x.className = "topnav";
            }
        }
    </script>


    <!-- <a href="en/pay.html" title="Get an Account" class="btn btn-default btn-normal btn-inline " target="_self">Pay an Account</a>  -->


    <script>
        //write text
        var i = 0;
        var txt = 'JUST DO IT';
        var speed = 200;
        //alert("testin")
        function typeWriter() {
            if (i < txt.length) {
                document.getElementById("demo").innerHTML += txt.charAt(i);
                i++;
                setTimeout(typeWriter, speed);
            }
        }
        typeWriter()


        //pop up
        function myFunction() {
            var popup = document.getElementById("myPopup");
            popup.classList.toggle("show");
        }
        function myFunction1() {
            document.getElementById("myPopup");
            // popup.classList.toggle("show");
        }


        //show chat after reads
        var offsetTop = $("#chat").offset().top;

        $(window).scroll(function () {
            var scrollTop = $(window).scrollTop();
            if (scrollTop > offsetTop) {
                $("#popShow").fadeIn(1000);
            }
        });

        function openForm() {
            document.getElementById("myForm").style.display = "block";
            document.getElementById("val").style.display = "none";
        }

        function closeForm() {
            document.getElementById("myForm").style.display = "none";
        }

    </script>



    <script>
        var slideIndex = 1;
        showSlides(slideIndex);

        function plusSlides(n) {
            showSlides(slideIndex += n);
        }

        function currentSlide(n) {
            showSlides(slideIndex = n);
        }

        function showSlides(n) {
            var i;
            var slides = document.getElementsByClassName("mySlides");
            var dots = document.getElementsByClassName("dot");
            if (n > slides.length) { slideIndex = 1 }
            if (n < 1) { slideIndex = slides.length }
            for (i = 0; i < slides.length; i++) {
                slides[i].style.display = "none";
            }
            for (i = 0; i < dots.length; i++) {
                dots[i].className = dots[i].className.replace(" active", "");
            }
            slides[slideIndex - 1].style.display = "block";
            dots[slideIndex - 1].className += " active";
        }
    </script>






















    <script src='//production-assets.codepen.io/assets/common/stopExecutionOnTimeout-b2a7b3fe212eaa732349046d8416e00a9dec26eb7fd347590fbced3ab38af52e.js'></script>
    <script src='https://code.jquery.com/jquery-2.2.4.min.js'></script>
    <script>
        $(".messages").animate({ scrollTop: $(document).height() }, "fast");

        $("#profile-img").click(function () {
            $("#status-options").toggleClass("active");
        });

        $(".expand-button").click(function () {
            $("#profile").toggleClass("expanded");
            $("#contacts").toggleClass("expanded");
        });

        $("#status-options ul li").click(function () {
            $("#profile-img").removeClass();
            $("#status-online").removeClass("active");
            $("#status-away").removeClass("active");
            $("#status-busy").removeClass("active");
            $("#status-offline").removeClass("active");
            $(this).addClass("active");

            if ($("#status-online").hasClass("active")) {
                $("#profile-img").addClass("online");
            } else if ($("#status-away").hasClass("active")) {
                $("#profile-img").addClass("away");
            } else if ($("#status-busy").hasClass("active")) {
                $("#profile-img").addClass("busy");
            } else if ($("#status-offline").hasClass("active")) {
                $("#profile-img").addClass("offline");
            } else {
                $("#profile-img").removeClass();
            };

            $("#status-options").removeClass("active");
        });

        function newMessage() {
            message = $(".message-input input").val();
            if ($.trim(message) == '') {
                return false;
            }


            $('<li class="sent"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcTLalYuHfykz4gLJp1asQN6B6hTTKjhm459Jg&usqp=CAU" alt="" /><p>' + message + '</p></li>').appendTo($('.messages ul'));
            $.get("/get", { msg: message }).done(function (data) {
                $('<li class="replies"><img src="https://vignette.wikia.nocookie.net/disney/images/2/25/Profile_-_Vanellope_Von_schweetz.jpeg/revision/latest?cb=20190312023329" alt="" /><p>' + data + '</p></li>').appendTo($('.messages ul'));
            });
            $('.message-input input').val(null);

            $('.contact.active .preview').html('<span>You: </span>' + message);
            $(".messages").animate({ scrollTop: $(document).height() }, "fast");


        };

        function getBotResponse() {
            var rawText = $("#textInput").val();
            var userHtml = '<p class="userText"><span>' + rawText + "</span></p>";
            $("#textInput").val("");
            $("#chatbox").append(userHtml);
            document
                .getElementById("userInput")
                .scrollIntoView({ block: "start", behavior: "smooth" });
            $.get("/get", { msg: rawText }).done(function (data) {
                var botHtml = '<p class="replies"><span>' + data + "</span></p>";
                $("#chatbox").append(botHtml);
                document
                    .getElementById("userInput")
                    .scrollIntoView({ block: "start", behavior: "smooth" });
            });
        }

        $('.submit').click(function () {
            newMessage();
        });

        $(window).on('keydown', function (e) {
            if (e.which == 13) {
                newMessage();
                return false;
            }
        });

    </script>






















    <script src="js/jquery-2.1.4.min.js"></script>
    <script src="js/bootstrap.min.js"></script>


    <div class="footer_end">
        <p> </p>
    </div>

    <footer class="footer">
        <div class="footer-top clearfix">
            <div class="col-sm-3">
                <div class="block">
                    <h3>Other activities</h3>
                    <div class="mobile-hide">
                        <ul>
                            <li>
                                <a href="en/pay.html" title="Get an Account" class="button_slide  slide_right " target="_self">Buy products</a><!-- .btn -->
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="block">
                    <h3>Reach out!</h3>

                    <div class="mobile-hide">
                        <ul>
                            <li>
                                <a href="en/contact.html" title="Get an Account" class="button_slide  slide_right_email " target="_self">Send an email</a><!-- .btn -->

                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="block">
                    <h3>Schweetzing</h3>
                    <div class="mobile-hide">
                        <ul>
                            <li>
                                <a href="" title="Get an Account" class="button_slide  slide_right_email " target="_self"> Blueprint</a><!-- .btn -->
                            </li>
                            <li><a href="">Frequently Asked Questions</a></li>
                            <li>
                                <a href="https://www.facebook.com/llopedotcom" class="fa fa-facebook"></a>

                            </li>
                            <li><a href="#" class="fa fa-linkedin"></a></li>

                        </ul>
                    </div>
                </div>
            </div>

        </div>

    </footer>





    <script type="text/javascript" src='js/jquery.scrollto.js'></script>

    <script type="text/javascript" src="../js/custom.js"></script>
    <script type="text/javascript" src="js/update.js"></script>
    <script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date(); a = s.createElement(o),
                m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
        })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-80203225-1', 'auto');
        ga('send', 'pageview');

    </script>

    <script type="text/javascript">
        $(window).scroll(function () {
            var sticky = $('.stickup'),
                scroll = $(window).scrollTop();

            if (scroll >= 990) sticky.addClass('fixed');
            else sticky.removeClass('fixed');
        });








         


    </script>

</body>
</html>
